<input type="text" [(ngModel)]='title'> 
{{title}}



<div *ngIf="title === 'nicolas'">
  Este es Nicolas
</div>
<div *ngIf="title === 'julian'">
  Este es Julian
</div>
<div *ngIf="title === 'mateo'">
  Este es Mateo
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">Este es nicolas</p>
  <p *ngSwitchCase="'julian'">Este es julian</p>
  <p *ngSwitchCase="'mateo'">Este es mateo</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">la lista esta vacia</li>
  <li *ngFor = "let name of items; index as i" >
    {{name}}{{i}}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<div class="product-grid">
  <app-product 
  *ngFor= "let product of products" 
  (productClicked)="clickProduct($event)"
  [product]="product"></app-product>
</div>